@font-face {
  font-family: "Perfect";
  src: url("../fonts/PerfectDOSVGA437.ttf") format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

body {
  margin: $margin-auto;
  font-family: "Perfect", monospace;
  font-weight: 500;
  font-size: 21px;
  line-height: 36px;
  color: $black-color;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
