.search {
  margin: $margin-auto;
  width: $mobile-width;
  display: flex;
  justify-content: center;

  &__search-input {
    padding: 10px 15px;
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    opacity: .7;
    transition: opacity, .3s ease-in-out;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

@media screen and (min-width: $desktop-width) and (orientation: landscape) {
  .search {
    width: $desktop-width;

    &__search-input {
      font-size: 18px;
      line-height: 24px;
    }
  }
}
